<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a style="display:flex; align-items:center">
        <span class="title">DXF Creation</span>
      </a>
    </div>
		
		<div class="header-nav">
      <button (click)="runAndDownload()" class="active nav-link nav-text">Download</button>
    </div>
		<div class="header-nav">
      <button (click)="debug()" class="active nav-link nav-text">Debug</button>
    </div>

  </header>
  <div class="content-container">
    <div class="content-area">
			<table>
				<tr>
					<td>Feldweite</td>
					<td> <input [(ngModel)]="fieldWidth"></td>
				</tr>
				<tr>
					<td>Feld Tiefe</td>
					<td> <input [(ngModel)]="fieldDepth"></td>
				</tr>
				<tr>
					<td>Anzahl Felder</td>
					<td> <input [(ngModel)]="amountFields"></td>
				</tr>
				<tr>
					<td>Anzahl Zeilen</td>
					<td> <input [(ngModel)]="amountRows"></td>
				</tr>
				<tr>
					<td>Gangbreite</td>
					<td> <input [(ngModel)]="aisleWidth"></td>
				</tr>
				<tr>
					<td>Doppelzeilenabstand</td>
					<td> <input [(ngModel)]="rowDistance"></td>
				</tr>
				<tr>
					<td>Drehung</td>
					<td> <input [(ngModel)]="rotationAngle"></td>
				</tr>
				<tr>
					<td>Flügeltüren</td>
					<td> <input type="checkbox" [(ngModel)]="doors"></td>
				</tr>
				<tr>
					<td>EZ/DZ</td>
					<td> <input [(ngModel)]="rowPattern" disabled></td>
				</tr>
			</table>
		</div>
  </div>
</div>
